{% extends 'base.html.twig' %}

{% block title %}Chef Recipes
{% endblock %}

{% block body %}
	<h1 class="text-secondary text-center text-4xl my-6">
		Welcome to Chef Recipes!
	</h1>
	<h2 class="text-xl text-center text-primary">Let's cook together
		<i class="fa-solid fa-utensils text-primary"></i>
	</h2>
{% endblock %}
